/* Accordion Styles */
.accordion {
    border: 1px solid #e0e0e0;
  }
  .accordion:not(:last-child) {
    border-bottom: 0;
  }
  .accordion::before {
    display: none;
  }
  
  /* Accordion Summary Styles */
  .accordion-summary {
    background-color: rgba(0, 0, 0, 0.03);
    flex-direction: row-reverse;
  }
  .accordion-summary .accordion-expandIcon-wrapper.accordion-expanded {
    transform: rotate(90deg);
  }
  .accordion-summary .accordion-content {
    margin-left: 8px; /* Use a spacing that fits your design */
  }
  .accordion-summary.dark-mode {
    background-color: rgba(255, 255, 255, 0.05);
  }
  
  /* Accordion Details Styles */
  .accordion-details {
    padding: 16px; /* Use theme spacing or adjust as needed */
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
  